@import './reset';
@import './components';
@import './variables';
@import './mixins';

/* GENERAL STYLES OVERRIDES */
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font: 14px sans-serif;
}
