@import './reset';
@import './components';
@import './variables';
@import './mixins';

/* GENERAL STYLES OVERRIDES */
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font: 14px sans-serif;
}

/* CUSTOM STYLES */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: bisque;
}

.main-header__title {
  font-size: 36px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: rgb(231, 218, 203);
}

.game-board {
  width: 80%;
  /* height: 300px; */
}

.game-info {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

// .square {
//   background: #fff;
//   border: 1px solid #999;
//   float: left;
//   font-size: 24px;
//   font-weight: bold;
//   line-height: 34px;
//   height: 34px;
//   margin-right: -1px;
//   margin-top: -1px;
//   padding: 0;
//   text-align: center;
//   width: 34px;
// }

.square-winner {
  background-color: rgba(90, 236, 22, 0.438);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(223, 219, 219);
}
